body{
  font-family: nunito sans;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: playfair-display;
}

.top
{
  margin-top: 125px;
}
i{
  cursor: pointer;
}
.rowborder
{
  border: 2px solid #dcd6d6;
}
.hidelemnt
{
  position: absolute;
  top: 100px;
}
.side
{
  margin-right: 10px !important;
  cursor: pointer;
}
